@import "./fonts.css";
@import "./edit.css";

body {
  @apply bg-dark-c;
}

.sidebar-layout {
  box-sizing: border-box;
  padding-left: 15rem;
  transition: padding-left 200ms ease;
}

.sidebar-layout:has(> .header.header--collapsed) {
  padding-left: 4rem;
}

@media (max-width: 768px) {
  .sidebar-layout,
  .sidebar-layout:has(> .header.header--collapsed) {
    padding-left: 0;
  }

  .sidebar-layout:not(.edit-page) > .header ~ * {
    margin-top: 3.5rem;
  }

  .edit-page > .header ~ .workspace {
    padding-top: 4rem;
  }
}

svg.iconify {
  @apply inline-block;
}
