@import "./fonts.css";
@import "./edit.css";

body {
  @apply bg-dark-c;
}

.header ~ * {
  margin-left: 15rem;
  transition: margin-left 200ms ease;
}

.header.header--collapsed ~ * {
  margin-left: 4rem;
}

@media (max-width: 768px) {
  .header ~ *,
  .header.header--collapsed ~ * {
    margin-left: 0;
    padding-top: 3.5rem;
  }
}

svg.iconify {
  @apply inline-block;
}
